<header>
    <a class="logo" href="/">
        <img src="../assets/icons/home.svg" alt="home" />
    </a>
    <nav>	
        <ul class="nav-bar"><div class="bg"></div>
            <li><a class="nav-link active" href="/resume">Resume</a></li>
            <li><a class="nav-link" href="/playground">Playground</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <div class="hamburger">
            <div class="line1"></div>
        <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
</header>