/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Nucleo";
    src: local("Nucleo"), url(./assets/fonts/nucleo/nucleo.ttf) format("truetype");
  }
  @font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(./assets/fonts/opensans/OpenSans-VariableFont.ttf);
  }
  
  * {
    font-family: "OpenSans";
  }
  
